# ===============================================
# 前端生产环境配置
# ===============================================

# API 地址
VITE_API_BASE_URL=https://www.jlbtg.cn/api

# ICP 备案号
VITE_ICP_NUMBER=${{ secrets.VITE_ICP_NUMBER }}
